<div class="box">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="field">
      <p class="control">
      <textarea name="content"
                id="post-form-text"
                class="textarea"
                placeholder="Share a project, photo, or update"
                [ngModel]="adminPost?.content"
                required></textarea>
      </p>
    </div>
    <div class="columns is-mobile">
      <div class="column is-3">
        <div class="field is-grouped">
          <p class="control">
            <a class="button">
          <span class="icon">
            <i class="fa fa-link"></i>
          </span>
              <span>Media</span>
            </a>
          </p>
          <p class="control">
            <a class="button">
          <span class="icon">
            <i class="fa fa-camera-retro"></i>
          </span>
              <span>Photo</span>
            </a>
          </p>
        </div>
      </div>
      <div class="column is-2 is-offset-7">
        <button type="submit" class="button is-primary theme">Post</button>
      </div>
    </div>
  </form>
</div>
<hr>
<app-post></app-post>
