<!-- Navbar -->
<nav class="nav has-shadow theme">

  <!--Left side of nav -->
  <div class="nav-left">
    <a class="fa fa-circle nav-item" routerLink="/"></a>
    <div class="field nav-item">
      <p class="control has-icons-left">
        <input type="email"
               class="input"
               placeholder="Login(press enter)">
        <span class="icon is-small is-left">
        <i class="fa fa-user"></i>
      </span>
      </p>
    </div>
  </div>

  <!-- Nav center -->
  <div class="nav-center" style="border-right:1px #ffffff solid">
    <a href="https://www.facebook.com/jonathan.corrin" id="facebook" target="_blank" class="fa fa-facebook-square nav-item">Facebook</a>
    <a href="https://www.linkedin.com/in/jonathancorrin" id="linkedin" target="_blank" class="fa fa-linkedin-square nav-item">Linkedin</a>
    <a href="https://github.com/joncorrin/portfolio-app" id="github" target="_blank" class="fa fa-github nav-item">Github</a>
  </div>

  <!--Nav mobile toggler-->
  <span class="nav-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- Nav menu/hidden on mobile-->
  <div class="nav-right nav-menu" [ngClass]="{'is-active' : menuToggler}">
    <a class="fa fa-home is-tab is-active nav-item dropDownLink">Home</a>
    <a class="fa fa-envelope-o nav-item dropDownLink"
       (click)="openMessageModal()">Message</a>
    <a class="fa fa-send-o nav-item dropDownLink"
       (click)="openJobLeadModal()">Job lead</a>
    <a class="fa fa-address-card-o nav-item dropDownLink"
       (click)="openContactModal()">Contact</a>
    <a class="fa fa-question-circle-o nav-item dropDownLink"
       (click)="openFeedbackModal()">Feedback</a>
  </div>
</nav>

<!--Modals are visible if correct links are clicked -->
<app-message *ngIf="messageModalVisible"></app-message>
<app-job-lead *ngIf="jobLeadModalVisible"></app-job-lead>
<app-contact *ngIf="contactModalVisible"></app-contact>
<app-feedback *ngIf="feedbackModalVisible" ></app-feedback>
