.theme {
  background-color: rgba(30, 87, 153, 1) !important;
}
#facebook:hover {
  color: #3B5998!important;
  background-color: white;
}
#github:hover {
  color: #24292E!important;
  background-color: white;
}
#linkedin:hover {
  color: #0077B5!important;
  background-color: white;
}

a {
  color: #ffffff!important;
}

a:hover {
  color: #1e5799!important;
  background-color: white;
}

.is-active {
  color: #1e5799!important;
  background-color: white;
}

.is-tab {
  border-bottom: 3px solid rgba(150, 150, 150, 1)!important;
}

@media (max-width: 768px) {
  .dropDownLink {
    color: rgba(150, 150, 150, 1) !important;
  }
  .is-active {
    color: #1e5799!important;
  }
  .control.has-icons-left {
    display: none!important;
  }
  .nav-center {
    display: none!important;
  }
}
