
.box {
  height: 500px;
  max-width: 300px;
  width: 100%;
  margin: 33px 32px 0 0;
  overflow: scroll!important;
}
#commentField {
  border: none;
  box-shadow: none;
  min-height: 50px;
  -webkit-transition: min-height 500ms!important;
  transition: min-height 500ms!important;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
}

img {
  border-radius: 50%;
}

.fa {
  color: #24292E;
}

.fa:hover {
  color: #1e5799;
}

.button {
  margin-top: 8px;
}

#commentField:focus {
  min-height: 90px!important;
}

@media (max-width: 976px) {
  .box {
    display: none!important;
  }
}
