<div class="box">
  <article class="media">
    <div class="media-content">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="field">
          <p class="control">
            <textarea name="content"
                      id="commentField"
                      class="textarea"
                      placeholder="Add a comment .."
                      ngModel
                      required></textarea>
          </p>
            <div class="columns is-mobile">
              <div class="column is-offset-7 is-3">
                  <button type="submit" class="button is-info is-small">Submit</button>
              </div>
            </div>
        </div>
      </form>
    </div>
  </article>
  <hr>

  <article class="media" *ngFor="let comment of comments">
    <figure class="media-left">
      <p class="image is-48x48">
        <img [src]="profileImgUrl" alt="Admin profile photo">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ adminName }}</strong> • <small>15h</small>
          <br>
          {{ comment.content }}
          <br>
          <a>
            <span class="icon is-small"><i class="fa fa-chevron-up"
                                           (click)="upVote()"
                                           [ngStyle]="{color : vote ? '#1e5799' : '#24292E'}" ></i></span>
          </a>
          <a>
            <span class="icon is-small"><i class="fa fa-chevron-down"
                                           (click)="downVote()"
                                           [ngStyle]="{color : vote===false ? '#1e5799' : '#24292E'}"  ></i></span>
          </a><small>+5</small>
        </p>
      </div>
    </div>
  </article>
  <hr>
</div>
