<div class="modal" [ngClass]="{'is-active': modalVisible}">
  <div class="modal-background">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Contact</p>
        <button class="delete" (click)="modalService.toggleContactModal()"></button>
      </header>
      <section class="modal-card-body">
        Contact info.
      </section>
      <footer class="modal-card-foot">
        <a class="button" (click)="modalService.toggleContactModal()">Exit</a>
      </footer>
    </div>
  </div>
</div>
